<?xml version="1.0"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    syntaxCheck="false"
    verbose="true"
    >
  <testsuites>
    <testsuite name="default">
      <directory>./</directory>
    </testsuite>
  </testsuites>
  <php>
      <const name="DEBUG" value="true"/>
  </php>
</phpunit>
